<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thiagovinicius.android.saldooi"
    android:versionCode="@integer/numero_versao"
    android:versionName="@string/nome_versao" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".views.BoasVindas"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.Principal" />
        <activity android:name=".views.PlanoDados" />
        <activity android:name=".views.Sobre" />
        <activity android:name=".views.Sobre$Licencas" />

        <receiver android:name=".sms.FiltroRemetente" android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".sms.LeitorDados" android:exported="false" >
            <intent-filter>
                <action android:name="com.thiagovinicius.android.saldooi.sms.LeitorDados.ACTION_PROCESSAR_DADOS" />
            </intent-filter>
        </receiver>
        <receiver android:name=".agendado.RenovaPlanoDados" android:exported="false" >
            <intent-filter>
                <action android:name="com.thiagovinicius.android.saldooi.agendado.RenovaPlanoDados.ACTION_RENOVAR_PLANO_DADOS" />
            </intent-filter>
        </receiver>
        <receiver android:name=".agendado.AoInicializar" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>